---
import Article from "../components/Article.astro";
import Layout from "../components/Layout.astro";
const articles = Object.values(
    import.meta.glob("./articles/*.md", { eager: true }),
);
---

<!-- TODO: Impl sort by -->
<Layout>
    <h1>Articles</h1>
    {
        articles
            .sort(
                (a: any, b: any) =>
                    new Date(a.frontmatter.created).getTime() -
                    new Date(b.frontmatter.created).getTime(),
            )
            .map((a: any) => <Article article={a} />)
    }
</Layout>
