---
import Layout from "../components/Layout.astro";
---

<!-- TODO: Impl sort by -->
<Layout>
    <h1>Article Categories</h1>
    <ul>
        <li class="category">
            <a href={`/categories/Programming`}>
                <h2>Programming</h2>
            </a>
            <p>Practical Application</p>
        </li>
        <li class="category">
            <a href={`/categories/Mathematics`}>
                <h2>Mathematics</h2>
            </a>
            <p>All things Math</p>
        </li>
    </ul>
</Layout>

<style>
    .category {
        margin: 0 0 1.5rem 0;
    }
    h2 {
        margin: 0 0 0.25rem 0;
        color: var(--pri);
        &:hover {
            color: var(--sec);
        }
    }
</style>
