---
import Layout from "../components/Layout.astro";
---

<Layout>
    <h1>Welcome. I'm Ty</h1>
    <p>Here is a selection of articles I've written,</p>
    <p>
        my portfolio and resume as a computer programmer,
    </p>
    <p>and resources I've consumed such as books or links.</p>
</Layout>
