---
import Layout from "../components/Layout.astro";
---

<Layout>
    <h1>Welcome. I'm Ty</h1>
    <p>Here you will find articles I've written,</p>
    <p>
        a portfolio and resume tracking my experience as a computer programmer,
    </p>
    <p>and resources I've consumed such as books or links to other worlds.</p>
</Layout>
