---
import Layout from "../components/Layout.astro";
const articles = Object.values(
    import.meta.glob("./articles/*.md", { eager: true }),
);
const tags = [
    ...new Set(articles.map((article: any) => article.frontmatter.tags).flat()),
];
---

<Layout>
    <h1>Article Tags</h1>
    <section>
        {
            tags.sort().map((tag) => (
                <p>
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </section>
</Layout>

<style>
    p {
        margin: 0 0 0.25rem 0;
    }
</style>
