<header>
    <a href="/">permalik</a>
    <nav>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/projects">Projects</a>
        <a href="/articles">Articles</a>
        <a href="/categories">Categories</a>
        <a href="/tags">Tags</a>
    </nav>
</header>

<style>
    header {
        padding: 0.5rem 0 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: var(--font-header);
    }
    nav {
        a:not(:first-child) {
            margin: 0 0 0 0.75rem;
        }
    }
</style>
