<header>
    <div>
        <a href="/">permalik</a>
        <p>silent lifting mind</p>
    </div>
    <nav>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/articles">Articles</a>
        <a href="/categories">Categories</a>
        <a href="/tags">Tags</a>
        <a href="/books">Books</a>
        <a href="/links">Links</a>
    </nav>
</header>

<style>
    header {
        padding: 0.5rem 0 3rem;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
        font-family: var(--font-header);
    }
    p {
        opacity: 0.65;
    }
    nav {
        display: flex;
        flex-flow: column nowrap;
        a:not(:last-child) {
            margin: 0 0 0.25rem 0;
        }
    }
</style>
